<div class="row">
  <div class="col-md-offset-5">
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <h1>Register</h1>
    <div class="input-group-text">
      <%= radio_button_tag 'user[user_type]', 'customer' %>
      <%= f.label :I_am_customer %>
      <%= radio_button_tag 'user[user_type]', 'cleaner' %>
      <%= f.label :I_am_cleaner %>
    </div>
    <div>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    <div class="form-group">
    <div>
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </div><br></div>
    <div class="btn">
        <%= f.submit "Register", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
</div>
