<%= form_with model: @user, local: true do |f| %>
   <div class="row">
      <div class="col-sm-12">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>
   </div>
   <div>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
  </div>
  <div>
      <p>Please Checkout city in which you go to clean</p>
        <%= f.label :cities %><br />
        <%= f.fields_for :cities_attributes do |s| %>
          <%= f.collection_check_boxes :city_ids, City.all, :id, :name do |b| %>
              <%= b.check_box %>
              <%= b.label %><br>
          <% end %>
        <% end %>
  </div><br>
    <class="btn btn-outline-success"><%= f.submit %>
<% end %>
